:root {
    --main-color: #252525;
    --white-color: #fdfdfd;
    --second-color: #A49797;
    --accent-color: #ca6702;
}


/* GENERALI */
.tc-main{
    color: var(--main-color)!important;
}

.tc-white{
    color: var(--white-color)!important;
}

.tc-second{
    color: var(--second-color)!important;
}

.tc-accent{
    color: var(--accent-color)!important;
}

.bg-white{
    background-color: var(--white-color);
}

section {
  overflow-y: hidden;

}

a {
  text-decoration: none!important;
  color: inherit;
  font-family: "Robot",sans-serif !important;
}

a:hover{
  text-decoration: none;
  color: inherit;
  font-family: "Robot",sans-serif !important;
}


/* FONTS */
h1, h2, h3, h4, h5, h6{
  font-family: 'Major Mono Display', monospace;
}

*{
  font-family: 'Spartan', sans-serif;
}

.text-justify{
  text-align: justify;
}


/* NAVBAR */
.nav-bg-custom{
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.nav-bg-down{
  background-color: var(--main-color);
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  transition: all 1s ease-in-out;
  border-bottom: darkgrey;
  border-style: solid;
  border-width: 1px;
}

.mini-logo{
  width: 50px;
}

.nav-item{
  transition: all 0.5s ease-in-out;
}

.nav-item:hover{
  background-color: var(--second-color);
  transition: all 0.5s ease-in-out;
}

.nav-item-active{
  background-color: var(--second-color);
  transition: all 0.5s ease-in-out;
}


/* HAMBURGER MENU */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 50px;
}

.navbar-toggler:focus{
  box-shadow: none!important;
}

.line {
  fill: none;
  stroke: var(--white-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


/* MASTHEAD */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(./Media/Passion.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .logo{
    width: 150px;
  }


  /* TITOLI */
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-display{
    display: none;
  }

  .typing-style {
    width: 12ch;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }

  .typing-style2 {
    width: 11ch;
    animation: typing 2s steps(11), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }

  .typing-style3 {
    width: 12ch;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }

  .typing-style4 {
    width: 12ch;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  /* PORTFOLIO */
  .card{
    height: 195px;
    margin: 0px;
  }

  /* MODALS */
  .btn-bg{
    background-color: transparent;
  }

  #modalBtn:hover{
    cursor: pointer;
  }

  #modalImg{
    background-color: white;
  }


  .modal-detail{
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 2px;
  }

  .bg-presto{
    background-image: url(./Media/presto-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }

  .bg-meteo{
    background-image: url(./Media/meteo-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
  }

  .bg-smile{
    background-image: url(./Media/prosmile-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px;
  }

  .bg-project{
    background-image: url(./Media/logo-project.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140px;
  }

  .bg-art{
    background-image: url(./Media/DC-ArtGallery-Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140px;
  }

  .bg-prestoFE{
    background-image: url(./Media/presto-fe-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
  }


/* CHI SONO */
.img-custom{
  border-radius: 50%;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 3px;
  padding: 5px;
  width: 200px;

}


/* LINGUAGGI */
.parallax{
    width:100%;
    height:450px;
    background:url(./Media/Office.png) center center;
    background-attachment:fixed;
    background-size:cover;
}

.img-logo{
  width: 100px;
  height: 100px;
}

.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px;
}

.slick-slide {
  margin: 10px
}

.slick-slide img {
  width: 100px;
  border: 0px solid #fff
}

.slick-next:before{
  display: none;
}

.slick-prev:before{
  display: none;
}

.lang-logo{
  font-size: 7rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.stroke{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-color);
}

/* CONTATTAMI */
.form-control
        {
        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

        .form-control:focus{
            box-shadow: none!important;
            border-color: var(--sec-color)!important;
        }

        .textarea-contact
        {
        	resize:none; 
        }

        .btn{
            border-color: #e0e0e0;
        }

        .btn:hover
        {
        	background:var(--accent-color)!important;
        	color:white!important;
            /* border-style: solid; */
            /* border-color:var(--main-color); */
        	transition:all 0.5s!important;   
        }

        .second-portion
        {
        	margin-top:50px; 
        }

    @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
		@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

		.box > .icon { text-align: center; position: relative; }

		.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 60px; border-radius: 50%; background: var(--main-color); vertical-align: center; transition: all; transition: 0.5s; }

		.box > .icon:hover > .image { background:var(--accent-color); transition: all; transition: 0.5s; }

		.box > .icon > .image > i { font-size: 26px !important; color: #fff !important; }

		.box > .icon:hover > .image > i { color: white !important; }

		.box > .icon > .info { margin-top: -24px; border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}

		.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: var(--accent-color); }

		.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }

		.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}

		.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }

		.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }

		.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
		.box .space { height: 30px; }

		@media only screen and (max-width: 768px)
		{
			.contact-form
			{
				margin-top:25px; 
			}

			.btn-send
			{
				width: 100%;
				padding:10px; 
			}

			.second-portion
			{
				margin-top:25px; 
			}
		}


    /* FOOTER */
    #footer{
      background-image: url(./Media/pencil.png);
      background-size: cover;
      background-repeat: no-repeat;
    }


.dummyHeight{
  height: 1000px;
}
